{% extends "base.html" %}
{% load static %}

{% block style %}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{% static '/css/account/morphism.css' %}">

{% endblock style %}


{% block title %}
GIS
{% endblock title %}


{% block main %}

<div class="container-md">

    <!-- login form here -->
    <div class="d-flex flex-column justify-content-center align-items-center text-center" style="height: 80vh;">
        <div class="claymorphism neomoprhism hover p-4">
            <form action="" method="post">
                {% csrf_token %}
                {{ loginForm.as_p }}
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <a href="/accounts/forgot_password/" class="text-primary m-2">Forgotten your password?</a>
            <p class="m-2">Don't have an account? <a href="/accounts/new_user/" class="text-primary"> Sign Up</a></p>
        </div>
    </div>

</div>

{% block nav %}


{% endblock nav %}


{% endblock main %}

{% block script %}


{% endblock script %}