{% extends "base.html" %}
{% load static %}

{% block style %}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<link rel="stylesheet" href="{% static '/css/profile.css' %}">





{% endblock style %}


{% block title %}
GIS
{% endblock title %}


{% block main %}

<div class="d-flex justify-content-center align-items-center mt-3">
                <div class="card-body neomorphism claymorphism ">
                    <div class="text-center mt-3">
                        {% if profile.image %}
                        <img src="{{profile.image.url}}" alt="Profile Picture"
                            class="img-fluid rounded-circle profile-img">
                            {% else %}
                            <img src="{% static '/images/profile_avatar.jpg' %}" alt="Profile Picture"
                            class="img-fluid rounded-circle profile-img">
                        {% endif %}
                    </div>
                    <h3 class="text-center mt-3">{{profile.user.first_name}} {{profile.user.last_name}} {% if user.is_interviewer %}(Interviewer){% endif %}</h3>
                    <p class="text-center">{{profile.field}}</p>
                    <ul class="list-group list-group-flush claymorphism neomorphism p-3 m-5">
                        <li class="list-group-item"><strong>Email:</strong> 
                        <form action="" method="post">
                            <input type="email" name="email" id="email" class="form-control form-control-sm">
                            <button type="submit" class="btn btn-info">Update</button>
                            
                        </form>
                        </li>
                        <li class="list-group-item"><strong>Contact:</strong> {{profile.mobile}}</li>
                        <li class="list-group-item"><strong>Location:</strong> {{profile.location}}</li>
                        <li class="list-group-item"><strong>Skills:</strong> {{profile.skills}}</li>
                        </li>
                        <li class="list-group-item bg-none"><strong>Interests:</strong> {{profile.intrests}}</li>
                    </ul>
                    <div class="text-center m-3">
                        <a href="/accounts/delete_user_by_admin/{{profile.user.id}}/" class="btn btn-danger">Delete User</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>





{% endblock main %}

{% block script %}


{% endblock script %}