{% extends "base.html" %}
{% load static %}

{% block style %}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{% static '/css/profile.css' %}">
{% endblock style %}


{% block title %}
GIS
{% endblock title %}


{% block main %}

<div class="container mt-5">
    <h2 class="text-center mb-4"></h2>
    <div class="table-responsive claymorphism neomorphism p-4 text-primary ">
      <table class="table-bordered w-100 border-primary text-center">
        <thead>
          <tr>
            <th>#</th>
            <th>Id</th>
            <th>Domain</th>
            
            {% if request.user.is_interviewer %}
            <th>User</th>
            {% else %}
            <th>Interviewer</th>
            {% endif %}
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
{% for session in scheduled_session  %}
          <tr>
            <td>{{ forloop.counter}}</td>
            <td>{{session.id}}</td>
            <td>{{session.domain}}</td>
            {% if request.user.is_interviewer %}
            <td>{{session.user.email}}</td>
            <td>
             {{session.status}}
            </td>
            {% else %}
            <td>{{session.interviewer.email}}</td>
            <td>{{session.status}}</td>
            
          
            {% endif %}
            <td>
              <a href="/interview/view_schedule/{{session.id}}/" class="btn btn-primary">View</a>
              <a href="/interview/delete_schedule/{{session.id}}/" class="btn btn-danger">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>



{% endblock main %}

{% block script %}


{% endblock script %}