.session {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
}

.question {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 80px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 100%;
    padding: 32px;
    display: none;

}

.active {
    display: block;

}