


.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    color: whitesmoke;
}



.select-type {
    background: rgba( 253, 253, 253, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 80px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}